@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic);

/* --------------------
	General
-------------------- */

* {
	font-family: 'Source Sans Pro', sans-serif;
}

#header-col {
	margin-left: 0px;
}
#name {
	color: grey;
	padding-top: 240px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 60px;
}

header {
	background-image: url(img/bighex.png);
	background-size: cover;
	height: 800px;
}
ul {
	padding: 0;
	list-style: none;
}

/* --------------------
  Header
-------------------- */


h1, h2, h3{
	text-align: center;	
	letter-spacing: 4px;
	text-transform: uppercase;

}
h4 {
	text-align: left;	
	letter-spacing: 2px;
	text-transform: uppercase;
}

h5, h6 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.navbar {
	text-align: center;
}

.navbar a {
	background-color: #fff;
	color: hotpink;
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;

	padding: 10px;

}
/* --------------------
  Main
-------------------- */
.hov-gal {
    position: relative;
    text-align: center;
}

.item {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    color: #fff;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-top: 10%;
    margin-bottom: 4px;
    font-size: 1em;
    opacity: 0;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.hov-gal:hover .item {
    opacity: 1;
    cursor: pointer;
}

#cv .col-12, #project .col-12  {
	margin-left: 0;
}

#project img {
	width: 100%;
}

.img-icon {

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70px;
	height: 60px;
}

.education-list {
	text-align: left;

}

#download button {
	background-color: white;
	color: hotpink;
	border: 3px solid grey;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
}

#download .col-12 {
	margin-left: 0;
}

/* --------------------
  Footer
-------------------- */

.back-up {
	float: right;
	margin-right: 3%; 
}


.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 0 0;
}
.wrapper-list {
	margin-left: 40px;
}

#follow-me {
	margin: 0;
	float: right;
}
.wrapper-footer {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 0 0;
    background-color: blue;
}


/* --------------------
  Animation
-------------------- */

@-webkit-keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
@keyframes zoom {
   	from {transform:scale(0.1)} 
    to {transform:scale(1)}
}




