* {
	font-family: Helvetica, Arial;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	
	-moz-webkit-filter: brightness(50%);
	-ms-webkit-filter: brightness(50%);
	-o-webkit-filter: brightness(50%);
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
	width: 100%;
	height: auto;
}

img:hover {
	-webkit-webkit-filter: none;
	-moz-webkit-filter: none;
	-ms-webkit-filter: none;
	-o-webkit-filter: none;
	-webkit-filter: none;
	filter: none;
}

/* --HEADER-- */
.head-1, .head-3 {
	text-align: center;	
	letter-spacing: 4px;
	text-transform: uppercase;

}
.head-2 {
	text-align: left;	
	letter-spacing: 2px;
	text-transform: uppercase;
}

.head-6, .head-5 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

header h3 {
	margin-top: 0;
}

.container {
	text-align: center;
}

.navbar a {
	color: hotpink;
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;

	padding: 10px;

}

/* DROPDOWN MENU */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #fff;
}


/* --MAIN-- */

.education-list {
	text-align: left;

}

/* Portfolio */


/* FOOTER */

.get-back-up {
	float: right;
}








